.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  overflow: hidden;

  input {
    background-color: inherit;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0 2rem;

    @media screen and (max-width: 768px) {
      padding: 0 1rem;
    }
  }
  input::placeholder {
    opacity: 0.5;
  }

  button {
    border: none;
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      padding: 0.8rem;
    }
    @media screen and (max-width: 425px) {
      padding: 3rem 1rem;
    }
  }
}
