.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  overflow: hidden;

  input {
    background-color: inherit;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0 2rem;
  }

  button {
    border: none;
    background-color: rgb(255, 136, 0);
    color: #fff;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}
