@media screen and (max-width: 768px) {
  .section-center {
    width: 95%;
  }

  .navbar {
    .logo {
      width: 8rem;
    }
    .search {
      input {
        font-size: 0.9rem;
        padding: 0 1.5rem;
      }
      button {
        padding: 1rem 0.8rem;
      }
    }
    .nav-list {
      padding: 0;
      .nav-item {
        gap: 0;
        button {
          i {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    .nav-list {
      display: none;
    }
  }
}
