.recipes-list {
  @include flex-column;
  padding: 0;

  a {
    text-decoration: none;
  }

  .loading {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .error {
    @include flex-column;
    text-align: center;
    gap: 1rem;
    margin: 1rem;
    font-size: 1rem;

    .error-icon {
      color: darkred;
      font-size: 2rem;
    }
  }

  .success {
    @include flex-column;
    text-align: center;
    gap: 1rem;
    margin: 1rem 3rem;
    font-size: 1.5rem;

    .success-icon {
      color: darkgreen;
      font-size: 2rem;
    }
  }

  .recipes-item {
    text-decoration: none;

    &.active {
      background-color: #fce2a2;
    }

    li {
      @include flex;
      justify-content: flex-start;
      padding: 0.5rem;
      gap: 1rem;
      transition: all 0.2s;
      color: #574945;
      cursor: pointer;

      .item-description {
        .item-title {
          font-size: 1rem;
        }
        @media screen and (max-width: 425px) {
          font-size: 0.9rem;
        }
      }

      .item-img {
        max-width: 3rem;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  .recipes-item:hover {
    background-color: #fce2a2;
  }
}
.pagination {
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: bisque;
    padding: 0.5rem;
    border-radius: 5px;
    color: #cc756f;
    margin: 1rem;
  }

  &::after {
    clear: both;
  }

  button.prev-btn {
    float: left;
  }

  button.next-btn {
    float: right;
  }
}
