.recipes-list {
  @include flex-column;
  padding: 0;

  .recipes-item {
    @include flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    gap: 1rem;
    transition: all 0.2s;
    color: #574945;
    cursor: pointer;

    .item-description {
      @media screen and (max-width: 425px) {
        font-size: 0.9rem;
      }
    }

    .item-img {
      width: 3rem;

      @media screen and (max-width: 425px) {
        width: 2rem;
      }
    }
  }
  .recipes-item:hover {
    background-color: #fce2a2;
  }
}
