.section-center {
  display: block;
  width: 80%;
  margin: 3rem auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 95%;
    height: 95vh;
  }

  @media screen and (max-width: 425px) {
    margin-top: 1rem;
  }

  .recipes-section {
    display: flex;
    justify-content: space-between;

    .recipes-result {
      min-width: 30%;
      min-height: 80vh;
      background-color: #fbdb89;

      @media screen and (max-width: 425px) {
        min-width: 40%;
      }
    }

    .recipes-window {
      min-width: 70%;
      min-height: 80vh;
      background-color: #f9c987;

      @media screen and (max-width: 425px) {
        min-width: 60%;
      }
    }
  }
}
