.section-center {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #fff;
  height: 90vh;
  border-radius: 15px;
  overflow: hidden;

  .recipes-section {
    display: flex;
    justify-content: space-between;

    .recipes-result {
      min-width: 30%;
      min-height: 80vh;
      background-color: #fbdb89;
    }

    .recipes-window {
      min-width: 70%;
      min-height: 80vh;
      background-color: #f9c987;
    }
  }
}
