.section-center {
  display: block;
  width: 80%;
  margin: 3rem auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 95%;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .recipes-section {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      display: flex;
      flex-direction: column;
    }
    .recipes-result {
      width: 40%;
      background-color: #fbdb89;
    }

    .recipes-window {
      width: 100%;
      background-color: #f9c987;

      @media screen and (max-width: 425px) {
        min-width: 60%;
      }
    }
  }
}
